<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>

  <div id="app">
    <div class="username">
      <input type="text" placeholder="用户名" v-model="name">
    </div>
    <div class="mail">
      <input type="text" placeholder="邮箱" v-model="mail" @keyup.13="handleUpload">
    </div>
    <div class="upload-btn" @click="handleUpload" >上传</div>
    <div class="test-btn">测试jsonp</div>
    <div class="show-btn" @click="handleShow" >显示人物信息</div>
    <ul class="person-list" v-if="personList.length">
      <li class="person" v-for="person in personList">
        <span>{{ person.name }}</span>
        <span>{{ person.mail }}</span>
      </li>
    </ul>
  </div>

  <script>
    const bInstance = axios.create({
      baseURL: 'https://developer.duyiedu.com/vue/b'
    })


    const vm = new Vue({
      el: '#app',
      data: {
        name: '',
        mail: '',
        msg: '',
        personList: []
      },
      methods: {
        handleUpload() {

          // this.$http.post('https://developer.duyiedu.com/vue/setUserInfo', {
          //   name: this.name,
          //   mail: this.mail
          // }).then(res => {
          //   this.msg = res.body.msg;
          // }).catch(error => {
          //   this.msg = error.body.msg;
          // })

          
          // axios({
          //   methods: 'post',
          //   baseURL: 'https://developer.duyiedu.com/vue/',
          //   url: 'setUserInfo',
          //   data: {
          //     name: this.name,
          //     mail: this.mail
          //   }
          // }).then(res => {
          //   console.log(res);
          // })
          // const myInterceptor = axios.interceptors.request.use(config=>{
          //   console.log('1111');
          //   return config;
          // })
          // //请求拦截器
          // // const myInterceptor = axios.interceptors.request.use(config=>{
          // // })
          // axios.interceptors.request.eject(myInterceptor);
          // //移除拦截器

          const instance = axios.create();
          instance.interceptors.request.use(config => {
            console.log(111);
            return config;
          })
          const {
            name,
            mail
          } = this;
          
          axios.post('/setUserInfo', {
            name,
            mail
          }, {
            baseURL: 'https://developer.duyiedu.com/vue',
          }).then(res => {
            this.msg = res.data.msg;
            console.log(res.data);
          })

          // $.ajax({
          //   url:'https://developer.duyiedu.com/vue/setUserInfo',
          //   type:'post',
          //   data:{
          //     name:this.name,
          //     mail:this.mail
          //   },
          //   success(res){
          //     console.log(res);
          //   }
          // })
        },
        handleShow() {
          // this.$http.get('https://developer.duyiedu.com/vue/getUserInfo').then(res => {
          //   this.personList = res.body.data;
          // })
          // axios.all([

          // ])
          // axios({
          //   methods:'get',

          // })
        },
        // handleTest() {
        //   // this.$http.jsonp('https://developer.duyiedu.com/vue/jsonp').then(res => {
        //   //   console.log(res);
        //   // })
        //   this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su', {
        //     params: {
        //       wd: '百度'
        //     },
        //     jsonp: 'cb'
        //   }).then(res => {
        //     console.log(res)
        //   })
        // },
      },
      watch: {
        msg() {
          if (this.msg === '') {
            return;
          }
          alert(this.msg);
          this.msg = '';
        }
      }
    })
  </script>
</body>

</html>